.card {
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

thead th {
  text-transform: uppercase;
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

mat-paginator {
  background: #f8f9fa;
  padding: 8px;
  border-radius: 8px;
}
