<app-alert [message]="alertMessage" [show$]="showAlert" [type]="alertType"></app-alert>
<form [formGroup]="form" class="form">
  <div class="field-container">
    <div class="field-group">
      <label for="nameInput" class="label">Name:</label>
      <input id="nameInput" pInputText formControlName="name" class="field" />
    </div>
    <div class="field-group">
      <label for="emailInput" class="label">Email:</label>
      <input id="emailInput" pInputText formControlName="email" class="field" />
    </div>
    <div class="field-group">
      <label for="roleSelect" class="label">Role:</label>
      <div id="roleSelect" class="field">
        <p-select
          [options]="roles"
          formControlName="roleId"
          optionLabel="name"
          optionValue="id"
          class="select"
        />
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <div (click)="back()" class="button button-cancel">Cancel</div>
    <div (click)="onSave()" class="button button-save">Save</div>
  </div>
</form>
